<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="container">
  <div class="logo">
    <div class="img-holder">
      <img src="../../assets/logo.png" alt="Rick And Morty Logo">
    </div>
  </div>
  <div class="pagination">
    <button class="pagination-button previous-button" (click)="goToPreviousPage()" [disabled]="isFirstPage()">Anterior</button>
    <button class="pagination-button next-button" (click)="goToNextPage()" [disabled]="isLastPage()">Siguiente</button>
  </div>  
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <input type="search" (input)="onSearchInputChange($any($event.target).value)" class="form-control form-control-lg"
        placeholder="Search for a character...">
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-3 d-flex" *ngFor="let character of filteredCharacters?.slice(0,10)">
      <div class="card mb-5">
        <img [src]="character.image" class="card-img-top" alt="Character Image">
        <div class="card-body">
          <a [routerLink]="['/details', character.id]">{{ character.name }}</a>
          <p class="card-text">{{ character.gender }}</p>
          <p class="card-text">{{ character.status }}</p>
          <p class="card-text">{{ character.species }}</p>
          <p class="card-text">{{ character.origin.name }}</p>
          <p class="card-text">{{ character.location.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

